		html {
				text-align: center;
			}
            body {
                text-align: center;
                background-color: rgb(255, 255, 255);
				display: inline-block;
            }
            
            img {
                border-radius: 4%;
                margin-top: 50px;
            }
            iframe {
                margin-top: 50px;
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                max-width: 80%;
            }
            #p-1 {
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 30px;
                max-width: 100%;
            }
            .container {
                background-color: rgb(28, 77, 180);
                width: 500px;
                max-width: 100%;
                padding: 5px 20px;
                border-radius: 15px;
                color: rgb(255, 255, 255);
                text-decoration: none;
                box-shadow: 0 2px 4px black;
            }

            .container:hover {
                color: rgb(28, 77, 180);
                background-color: aliceblue;
            }
                .container {
                    width: 100%;
                }
            }